.main {
  margin-top: 1rem;
  /* padding-bottom: 0.5rem; */
  width: 100%;
}
.main .screen {
  width: 100%;
}
.main .screen .screen-one {
  padding-bottom: 1rem;
}
.main .screen .screen-one>ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  color: #888;
}
.main .screen .screen-one>ul>li.liactive {
  color: #000;
  font-weight: 600;
}
.van-dropdown-menu>>>.van-dropdown-menu__bar {
  box-shadow: 0 0 0;
}
.van-dropdown-menu>>>.van-dropdown-menu__bar .van-dropdown-menu__item .van-dropdown-menu__title {
  font-size: 1.4rem;
  background-color: #eee;
  border-radius: 0.2rem;
}
.goodsmain {
  width: 100%;
  background-color: #eee;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1vh 0;
  box-sizing: border-box;
}
.goodsmain div {
  width: 47vw;
  padding: 0.6rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: #fff;
  margin-bottom: 1rem;
  position: relative;
}
.goodsmain div img {
  width: 100%;
  border-radius: 0.5rem;
}
.goodsmain div>p {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: #333;
}
.goodsmain div>span:nth-child(3) {
  font-size: 1.8rem;
}
.goodsmain div>span:nth-child(3)::before {
  content: '￥';
  font-size: 0.5rem;
  position: absolute;
}
.goodsmain div>span:nth-child(4) {
  font-size: 1.2rem;
  color: #888;
}
.goodsmain div>s {
  color: #888;
}
.searchtop {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}
.searchtop img {
  display: block;
  width: 3rem;
  height: 3rem;
}
.searchtop>div {
  width: 60vw;
  height: 2.6rem;
  border: 0.2rem solid #000;
  border-left: 0.5rem solid #000;
  border-right: 0.5rem solid #000;
  border-radius: 0.3rem;
}
.searchtop>div input {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  font-size: 1.4rem;
}
.searchtop>p {
  line-height: 0rem;
  font-size: 1.5rem;
  color: #555;
}